/* ========== Customer Payment Processing ========== */
.text-ss-primary {
    color: var(--ss-primary) !important;
}

.text-ss-secondary {
    color: var(--ss-secondary) !important;
}

.bg-ss-secondary {
    background-color: var(--ss-secondary) !important;
}

.bounce-animation {
    display: inline-block;
    animation: bounce 0.5s ease infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.progress-bar {
    transition: width 0.5s ease;
}